.charCard {
	font-family: 'Mirza', cursive;
}

.charName {
	font-size: 24pt;
}

.bodyText {
	font-size: 16pt;
}

#activePlayer {
	background-color: #98FB98;
}

.buttonText {
	font-size: 150%;
}

.hundred {
	width: 100% !important;
}

.toggleDisplayOn {
	display: block;
}

.toggleDisplayOff {
	display: none;
}